<!DOCTYPE html>
<html>
{% if user_role == 1 % or user_role == 2 or user_role == 3 %}
    <head>
        <title>Credenciais inválidas</title>
        <link rel="stylesheet" href="static/login.css" >
    </head>
    <body>
        <div class="bloco">
            <h1 class="titulo">Credenciais inválidas!</h1> 
            <a class="botao" href='/'>Tentar novamente</a>
        </div>
    </body>
{% else %}
    <p>Somente administradores podem cadastrar dispositivos!</p>
{% endif %}
{% endblock %}
</html>